<div class='row'>
  <div class='col-sm-12'>
    <ul style="padding-left: 5px" >
      <li style="display: inline-block; margin-left: 15px" ng-repeat="column in selectedColumns">
        {{ column.field }} [<a href ng-click="selectedColumns.splice($index, 1)">X</a>]
      </li>
    </ul>

    <label>Add new data column: </label>
    <select ng-model="columnToBeAdded" ng-change="addToSelectedColumns(columnToBeAdded)" ng-options="column for column in difference(columns, selectedColumns)">
    </select>

  </div>

</div>

<hr>

<div class='row'>
  <div class='col-sm-12'>
    <!-- <table class='table'>
      <thead>
        <tr>
          <th ng-repeat="column in selectedColumns">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr class='info' ng-repeat="data in brushedData">
          <td ng-repeat="column in selectedColumns">{{ data[column]}}</td>
        </tr>
        <tr ng-repeat="data in avantData | filter: {'zip': selectedZip}">
          <td ng-repeat="column in selectedColumns">{{ data[column]}}</td>
        </tr>
      </tbody>
    </table> -->
    <table ng-table="tableParams" class="table ng-table-responsive" show-filter="true">
      <thead>
        <tr>
          <th ng-repeat="column in selectedColumns" ng-click="filterTable(column.field)" >{{column.field}}</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="obj in $data">
          <td ng-repeat="column in selectedColumns" sortable="column.field" >{{ obj[column.field]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
