
<div class="container">
<table class="table">
  <tbody>
    <tr>
      <td>
        Dendrogram
        <br>
        <a href="http://bl.ocks.org/mbostock/4063570"><img src="https://camo.githubusercontent.com/e1a1948f0bcfa095d54793afd3ab96af97731773/687474703a2f2f64336a732e6f72672f65782f636c75737465722e706e67" width="202" data-canonical-src="http://d3js.org/ex/cluster.png"></a>
      </td>

      <td>
        Circle Packing
        <br>
        <a href="http://bl.ocks.org/mbostock/4063530"><img src="https://camo.githubusercontent.com/428c04c95f2a18ce7178d9d6135f1eab8df10ebd/687474703a2f2f64336a732e6f72672f65782f7061636b2e706e67" width="202" data-canonical-src="http://d3js.org/ex/pack.png"></a>        
      </td>

      <td>
        Sunburst
        <br>
        <a href="http://bl.ocks.org/mbostock/4063423"><img src="https://camo.githubusercontent.com/1415e2af369262e466534480edbc7baa883e5b58/687474703a2f2f64336a732e6f72672f65782f73756e62757273742e706e67" width="202" data-canonical-src="http://d3js.org/ex/sunburst.png"></a>
      </td>

      <td>
        Node-Link Tree
        <br>
        <a href="http://bl.ocks.org/mbostock/4063550"><img src="https://camo.githubusercontent.com/e646acd936244a6db8a140fb0e1e421d95b97d8e/687474703a2f2f64336a732e6f72672f65782f747265652e706e67" width="202" data-canonical-src="http://d3js.org/ex/tree.png"></a>
      </td>

      <td>Parallel Coordinates
        <br>
        <a href="http://mbostock.github.com/d3/talk/20111116/iris-parallel.html"><img src="https://camo.githubusercontent.com/84c8b74251ec9b1aaa85b90bc584f307b838a470/687474703a2f2f64336a732e6f72672f65782f697269732d706172616c6c656c2e706e67" width="202" data-canonical-src="http://d3js.org/ex/iris-parallel.png"></a>
      </td>
    </tr>

    <tr>

      <td>Scatterplot Matrix
        <br>
        <a href="http://mbostock.github.com/d3/talk/20111116/iris-splom.html"><img src="https://camo.githubusercontent.com/94fbe58ca94c837184b682ff0cfc2ad924fd36df/687474703a2f2f64336a732e6f72672f65782f697269732d73706c6f6d2e706e67" width="202" data-canonical-src="http://d3js.org/ex/iris-splom.png"></a>
      </td>

      <td>Zoomable Sunburst
        <br>
        <a href="http://www.jasondavies.com/coffee-wheel/"><img src="https://camo.githubusercontent.com/3579d11cf675da2a12ffcdad356e524978b97434/687474703a2f2f64336a732e6f72672f65782f636f666665652e706e67" width="202" data-canonical-src="http://d3js.org/ex/coffee.png"></a>
      </td>

      <td>BiPartite Visualization
        <br><a href="http://bl.ocks.org/NPashaP/9796212">
        <img src="https://camo.githubusercontent.com/45a6db7f4cd5cb48bba78d114812afcf3c758584/687474703a2f2f626c2e6f636b732e6f72672f4e5061736861502f7261772f393739363231322f7468756d626e61696c2e706e67" width="202" data-canonical-src="http://bl.ocks.org/NPashaP/raw/9796212/thumbnail.png"></a>
      </td>

      <td>
        Rat heatmap
        <br>
        <a href="http://meredithmmyers.com/ratmap/#/"><%= image_tag "heatmap.png", :width=>200%></a>
      </td>

      <td>
        Airbnb location relevance
        <br>
        <a href="http://nerds.airbnb.com/location-relevance/"><img src="http://nerds.airbnb.com/wp-content/uploads/2013/05/3_neighborhood_bookings1.jpg" width=200></a>
      </td>
    </tr>

    <tr>
      <td>
        <a href=""></a>Stock Leaders Bubble Chart
        <br>
        <a href="http://tomsisk.com/ondemand/"><img src="https://camo.githubusercontent.com/ad07d9faf3bfc5fb0adea6c8584b5d278239996b/687474703a2f2f746f6d7369736b2e636f6d2f6f6e64656d616e642f696d672f73637265656e2e706e67" data-canonical-src="http://tomsisk.com/ondemand/img/screen.png"></a>
      </td>

      <td>Viroscope - virus taxonomy viewer<br><a href="http://viroscope.info/"><img src="https://camo.githubusercontent.com/e3e8a63e33f81c59af57f949b380fa5a70e2002e/687474703a2f2f6a6f6e2e65732f6f746865722f7669726f73636f70652e706e67" width="202" data-canonical-src="http://jon.es/other/viroscope.png"></a>
      </td>
    </tr>
  </tbody>
</table>

</div>