<div class='container' ng-app="avantGarde" ng-controller="PackingController">
  <%= render "nav_menu"%>

  <hr>
  
  <div class='row'>
    <div class='col-xs-6'>
      <%= render "gadget_menu"%>

      <hr>

      <circle-packing ng-show="checkCurrentPath('circle_packing')" nodes='nodes' width='500' height='500' radius='500' id="pack_chart" name='name' children='children'></circle-packing>

      <nvd3 id="parallel_coordinate" ng-show="checkCurrentPath('parallel_coordinate')"  options="parallel_coordinate_options" data="data"></nvd3>

      <nvd3 id="pie" ng-show="checkCurrentPath('pie')" options="pie_options" data="data"></nvd3>

      <nvd3 id="scatter_plot" ng-show="checkCurrentPath('scatter_plot')" options="scatter_plot_options" data="data"></nvd3>

      <nvd3 id="graph" ng-show="checkCurrentPath('graph_chart')" options="graph_options" data="data"></nvd3>

      <div google-chart ng-show="checkCurrentPath('motion_chart')" chart="chartObject" style="height:300px; width:100%;"></div>

      <div google-chart ng-show="checkCurrentPath('motion_chart')" chart="timelineChartObject" style="width:100%;"></div>
      
    </div>

    <div id="map_canvas" class='col-md-6' ng-hide="checkCurrentPath('graph_chart')">

      <div class="info country f32">
          <div ng-show="selectedZip" class="flag" ng-class="lowercase"></div>
          <h6 style="font-size:20px; margin:5px;">{{ selectedZip || 'No zipcode selected'}} : {{ zip_hash[selectedZip]}}</h6>
      </div>

      <leaflet center="center" events="events" legend="legend" geojson="geojson" width="500" height="400"></leaflet>
    </div>

  </div>

  <hr>

  <%= render "data_section"%>

</div>



<%= content_for :add_later do %>
  <div id="map_canvas" style="width:800px; height:600px">
  </div>

  <script type="text/javascript">
    var map;
    var mapOptions = {
      center: new google.maps.LatLng(58, 16),
      zoom: 7,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);

    $.getJSON("/avant_data/address.json", function(json1) {
      $.each(json1, function(key, data) {
              geocoder = new google.maps.Geocoder();
      geocoder.geocode({"address": data.address}, function(results, status){
        if(status == google.maps.GeocoderStatus.OK){
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        }else{
        }
      });

      });
    });
  </script>
<% end %>